<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Event2</key>
	<dict>
		<key>Type</key>
		<string>Interlude</string>
		<key>Time</key>
		<integer>120</integer>
	</dict>
	<key>Event1</key>
	<dict>
		<key>Type</key>
		<string>Pirate</string>
		<key>Attack</key>
		<integer>1</integer>
		<key>Health</key>
		<integer>3</integer>
		<key>AttackInterval</key>
		<integer>50</integer>
		<key>Bounty</key>
		<integer>3</integer>
	</dict>
	<key>Event3</key>
	<dict>
		<key>Type</key>
		<string>Pirate</string>
		<key>Attack</key>
		<integer>1</integer>
		<key>Health</key>
		<integer>3</integer>
		<key>AttackInterval</key>
		<integer>50</integer>
		<key>Bounty</key>
		<integer>3</integer>
	</dict>
	<key>Event5</key>
	<dict>
		<key>Type</key>
		<string>Pirate</string>
		<key>Attack</key>
		<integer>1</integer>
		<key>Health</key>
		<integer>3</integer>
		<key>AttackInterval</key>
		<integer>50</integer>
		<key>Bounty</key>
		<integer>3</integer>
	</dict>
	<key>Event7</key>
	<dict>
		<key>Type</key>
		<string>Planet</string>
	</dict>
	<key>Event4</key>
	<dict>
		<key>Type</key>
		<string>Interlude</string>
		<key>Time</key>
		<integer>120</integer>
	</dict>
	<key>Event6</key>
	<dict>
		<key>Type</key>
		<string>Interlude</string>
		<key>Time</key>
		<integer>120</integer>
	</dict>
</dict>
</plist>
