<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{98,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,202},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,47},{34,34}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{50,50}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,46},{50,50}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,70},{58,66}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,31},{58,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,70},{58,66}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,31},{58,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{66,66}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion7.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{82,82}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,30},{82,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{98,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>explosion9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{98,98}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcf941ed1867b5ac0029ee08de1eb81b$</string>
            <key>textureFileName</key>
            <string>explosion.png</string>
        </dict>
    </dict>
</plist>
